body{
    margin: 0;
    padding: 0;       
}
.header {
    border-bottom: 1px solid #000000; 
}
.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;       
    height: 64px;
    margin: 0 auto;
}
.header-left {
    width: 254px;
    margin: 22px 0 22px 30px;
}
.header-left ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.header-left li {
    margin: 0;
}
.header-left a {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal; 
    font-size: 14px;   
    line-height: 20px;  
    font-family: sans-serif;
}
.header-middle img {
    height: 62px;
    width: auto;          
}
.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 14px 13px 13px 0;
}
.header-search-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #8F8F8F;
    border-radius: 25px;
    width: 171px;
    height: 37px;
    margin-right: 29px;
}
.header-search-box input {
    border: none;
    width: 100px;
    margin: 6.5px 0 6.5px 16px;    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
} 
.header-search-box button {
    border: none;
    background-color: white;
    margin-right: 16px;
}
.login-box button{
    width: 130px;
    height: 37px;   
    text-align: center; 
    background-color: #18A0FB;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;    
}
.tbody {
    display: flex;
    flex-direction: row;      
    height: 920px;
}
.tbody-sitebar {
    width: 252px;
    height: 613px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.tbody-sitebar h4{
    margin-top: 24px;
    margin-bottom: 10px;
    text-align: center;
}
.tbody-sitebar ul {
    list-style-type: none;    
}
.tbody-sitebar li {    
    height: 39px;
}
.tbody-sitebar a {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal; 
    font-size: 14px;   
    line-height: 20px;  
    font-family: sans-serif;
}
.tbody-detail {   
    text-align: center;   
    width: 1187px;
    color: #8F8F8F;
}
.infor-user {
    display: flex;
}
.infor-user img{
    width: 42px;
    height: 42px;
    filter: drop-shadow(0px 25px 80px rgba(2, 140, 213, 0.2));
    border-radius: 50%;
    margin: 0 14px 0 28px;
}
.infor-user-name p {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    color: #515252;
}
.infor-user-name h6{
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #11132A;    
}
.detail-docs {
    width: 1063px;
    margin-left: 84px;
}
.docs-date-category {
    display: flex;    
}
.docs-date-category p {
    color: #8F8F8F;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-right: 16px;
}
.docs-content {
    border-bottom: 1px solid #000000;
}
.docs-content h3 {
    color: #000000;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.docs-content p {    
    color: #5C5C5C;
    font-weight: 300;    
    line-height: 24px;
}
.views-like-dislike {
    display: flex;
    justify-content: space-between;
}
.view-icon ul{
    list-style-type: none;
    display: flex;
    padding: 0;
}
.view-icon ul li{
    margin: 0 20px 0 20px;
    font-size: 24px;
}
.view-detail ul {
    list-style-type: none;
    display: flex;
    margin-top: 9px;
}
.view-detail ul li {
    margin: 0 16px 0 16px;    
    font-weight: 500;
}
.view-detail ul li span {
    color: #8F8F8F;
}
.download-icon ul {
    list-style-type: none;
    display: flex;    
}
.download-icon ul li {
    margin: 0 20px 0 98px;
    font-size: 24px;
}
.comments-detail {
    margin: 0 0 16px 0;
}
.comments-detail span {
    font-weight: 500;    ;
    margin: 0;
}
.comments-detail p {    
    margin: 0;
    color: #000000;
}
.comments-detail h6 {    
    margin: 0;
    font-size: 14px;
    color: #8F8F8F;
}
.input-comment {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px; 
    margin-left: 58px;
}
.input-comment input {
    border: none;
    width: 100%;
    margin-left: 20px;
}
.input-comment button {
    font-weight: 500;
    background-color: white;
    border-radius: 14px 14px 16px 14px;
    line-height: 18px;
    padding: 7px 60px;
}
footer {
    width: 1440px;
}
.footer-1 {
    display: flex;  
    justify-content: space-between;
    padding-top: 24px;    
    border-bottom: 1px solid rgba(213, 214, 214, 1);  
    background-color: rgba(196, 196, 196, 0.28);  
}
.intro-gr3 {
    margin-left: 40px;
    margin-right: 306px;
}
.intro-gr3 p {
    font-size: 14px;
    line-height: 24px;
    width: 271px;
    height: 72px;
    color: #8F8F8F;
}
.tool {
    display: flex;    
}
.tool ul {    
    list-style-type: none;     
    width: 280px;
}
.tool li {
    margin-bottom: 18px;
    text-align: center;
    height: 40px;
}
.footer-2 {        
    text-align: center;    
    color: white;
    background-color: #373F41;
    border: 1px solid #000000;
    padding-top: 12px;
}