body{
    margin: 0;
    padding: 0;       
}
.header {
    border-bottom: 1px solid #000000; 
}
.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;       
    height: 64px;
    margin: 0 auto;
}
.header-left {
    width: 254px;
    margin: 22px 0 22px 30px;
}
.header-left ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.header-left li {
    margin: 0;
}
.header-left a {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal; 
    font-size: 14px;   
    line-height: 20px;  
    font-family: sans-serif;
}
.header-middle img {
    height: 62px;
    width: auto;          
}
.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 14px 13px 13px 0;
}
.header-search-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #8F8F8F;
    border-radius: 25px;
    width: 171px;
    height: 37px;
    margin-right: 29px;
}
.header-search-box input {
    border: none;
    width: 100px;
    margin: 6.5px 0 6.5px 16px;    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
} 
.header-search-box button {
    border: none;
    background-color: white;
    margin-right: 16px;
}
.infor-user {
    display: flex;
}
.btn-secondary {
    background-color: white;
}
.infor-user img{
    width: 37px;
    height: 37px;
    filter: drop-shadow(0px 25px 80px rgba(2, 140, 213, 0.2));
    border-radius: 50%;
    margin: 0 12px 0 22px;
}
.infor-user-name p {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    color: #515252;
}
.infor-user-name h6{
    margin: 0;
    font-size: 8px;
    line-height: 14px;
    font-weight: 500;
    color: #11132A;    
}
.tbody {
    display: flex;
    flex-direction: row;           
    width: 1440px;
    margin: 0 auto;   
}
.tbody-sitebar {
    width: 252px;
    height: 913px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.tbody-sitebar h4{
    margin-top: 24px;
    margin-bottom: 10px;
    text-align: center;
}
.tbody-sitebar ul {
    list-style-type: none;    
}
.tbody-sitebar li {    
    height: 39px;
}
.tbody-sitebar a {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal; 
    font-size: 14px;   
    line-height: 20px;  
    font-family: sans-serif;
}
.tbody-detail {         
    width: 1187px;
    color: #8F8F8F;
    display: flex;       
}
.tbody-detail p {
    margin: 22px 272px 22px 562px;
}
.category-btn-new {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 157.28px;
    height: 32.95px;
    border: 1px solid #18A0FB;
    border-radius: 6px;
    color: #18A0FB;
    background-color: white;
    margin: 16px 0;
}
.form-add {
    text-align: center;
    display: none;
    flex-direction: column;
    width: 482px;    
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    margin: 20px auto; 
}
.form-add label {
    color: rgba(17, 17, 17, 0.48);
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin: 6px 0 0 16px;
}
.category-input {
    border: none;    
    margin: 0 0 6px 2px;    
}
.category-btn-add {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;    
    border: 1px solid #18A0FB;
    border-radius: 6px;
    color: white;
    background-color: #18A0FB;
    margin: 16px 0;
}
.category-btn-cancel {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;    
    border: 1px solid #7a7a7a;
    border-radius: 6px;
    color: #7a7a7a;
    background-color: white;
    margin: 16px 0;
}
.tbody-category {
    margin-left: 32px;    
}
.category-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    margin-bottom: 32px;
}
.category-item h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #000000;
}
.form-edit {        
    display: none;
    flex-direction: column;        
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;   
    margin-bottom: 22px;  
}
#save {
    display: none;
}
.category-btn-edit {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 157.28px;
    height: 32.95px;
    border: 1px solid #F6AD55;
    border-radius: 6px;
    color: #F6AD55;
    background-color: white;    
}
.category-btn-delete {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 157.28px;
    height: 32.95px;
    border: 1px solid #FC8181;
    border-radius: 6px;
    color: #FC8181;
    background-color: white;
    margin-left: 42px;
}